<div class="login">
	<form class="form-horizontal">
		<% /* username */ %>
		<forms-input
		label="Email"
		name="email"
		id="email"
		required="true"
		></forms-input>

		<% /* password */ %>
		<forms-input
		label="Password"
		type="password"
		name="password"
		id="password"
		required="true"
		></forms-input>

		<forms-button label="Acceder" classes="btn btn-primary" icon="fa fa-pencil-square-o" action="login"></forms-button>

		<a href="#signup">Nuevo usuario</a>
	</form>
</div>	