<div class="login">
	<!-- Header -->
	<header id="header">
		<h1>El rey Cometh</h1>
		<p>Viernes, 19 de Julio de 1929</p>
	</header>

	<!-- Signup Form -->
	<form id="signup-form" method="post" action="#">
		<input type="email" name="email" id="email" placeholder="Email" />
		<input type="password" name="password" id="password" placeholder="Contraseña" />
		<input type="submit" action="login" value="Acceso" />

		<!--
		<a href="#signup">Nuevo usuario</a>
		-->
	</form>
</div>
