<div class="signup">
	<form class="form-horizontal">
		<% /* username */ %>
		<forms-input
		label="Nombre"
		name="username"
		id="username"
		required="true"
		></forms-input>

        <% /* username */ %>
		<forms-input
		label="E-mail"
		name="email"
		id="email"
		required="true"
		></forms-input>

		<% /* password */ %>
		<forms-input
		label="Password"
		type="password"
		name="password"
		id="password"
		required="true"
		></forms-input>

		

		<forms-button label="Solicitar registro" classes="btn btn-primary" icon="fa fa-pencil-square-o" action="signup"></forms-button>
	</form>
</div>	