<% /* to show validation errors in dom, used in form.js */ %>
<span class="error-message"><i class="fa fa-exclamation-triangle"></i>
    <br>
    <span class="error-label"><%=obj.label%></span>
</span>
