<div class="game">
	<form id="signup-form" method="post" action="#">
		<input type="text" name="clue" id="clue" placeholder="Lugar" />
		<input type="submit" action="requestClue" value="Investigar" />
	</form>
	<div class="message"></div>
	<div><a href="#logout">Logout</a></div>
</div>	