<div class="game">
	<form class="form-horizontal">
		<forms-input
		label="Pista"
		name="clue"
		id="clue"
		required="true"
		></forms-input>

		<forms-button label="Solicitar pista" classes="btn btn-primary" icon="fa fa-pencil-square-o" action="requestClue"></forms-button>
	</form>

	<a href="#logout">Logout</a>
</div>	